
<form class="add">
<input type="text" placeholder="Add bio!" />
<input type="submit" />
</form>

<ul></ul>

<li id="bio-template" class="hidden">
    <time class="timeago" datetime="${time}">${day}</time>::${text}::<a href="#" class="remove">remove</a>
</li>


<form id="login">
      <input type="text" placeholder="Email" />
      <input type="password" placeholder="Password" />
      <input type="submit" />

      <a href="/twitter_login" style="display: none"><img src="/images/sign-in-with-twitter-l.png" /></a>
</form>
