
<form class="add">
      <input type="text" placeholder="+ Add a twitter bio!" />
      <hr />
      <!--<input type="submit" />-->
</form>

<div id="horizontal">
     <div id="explain">
         <p>Long twitter bios suck!</p>
         <p>Keep yours short,</p>
         <p>we'll change it for you every day</p>
         <p class="fill">Just fill the buffer! :)</p>
     </div>


   <ul class="bios">
   </ul>

   <form id="login">
      <p>This button<br/> lets you<br/> login or register</p>

      <input type="text" placeholder="Email" />
      <input type="password" placeholder="Password" />
      <input type="submit" value="Be fantastic!" class="submit" />

      <a href="/twitter_login">Add twitter!<br/><img src="/images/sign-in-with-twitter-l.png" /></a>
   </form>

</div>

<li id="bio-template" class="hidden">
    <div>
        <time class="timeago" datetime="${time}">${day}</time>
        <a href="#" class="remove">remove</a>
    </div>
    <p>${text}<p>
</li>
