
<form class="add">
      <input type="text" placeholder="+ Add a twitter bio!" />
      <hr />
      <!--<input type="submit" />-->
</form>

<ul class="bios"></ul>

<li id="bio-template" class="hidden">
    <div>
        <time class="timeago" datetime="${time}">${day}</time>
        <a href="#" class="remove">remove</a>
    </div>
    <p>${text}<p>
</li>


<form id="login">
      <input type="text" placeholder="Email" />
      <input type="password" placeholder="Password" />
      <input type="submit" value="Be fantastic!" />

      <a href="/twitter_login" style="display: none"><img src="/images/sign-in-with-twitter-l.png" /></a>
</form>
